*.swp
*.dSYM
*.pyc
*.o
*.log
*.sqlite
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
build
*.bdb
venv
.DS_Store
docs/html/
docs/doctrees/
.tox
.idea
tests/basic_tests/secret.txt
