*~
*.swp
*.dSYM
*.py[codw]
*.o
*.log
*.sqlite
*.sqlite3
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
*.exe
build
*.bdb
venv
.DS_Store
docs/html/
docs/doctrees/
.tox
.idea
.directory
*.so
