[buildout]
newest = false
parts =
    python
    docs
eggs =
    Sphinx-PyPI-upload
    Pygments
download-cache = ${buildout:directory}/../downloads_buildout
eggs-directory = ${buildout:directory}/../eggs_buildout
develop = .

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[docs]
recipe = collective.recipe.sphinxbuilder
