include *.py
include *.rst
include LICENSE
include buildout.cfg
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.html
recursive-include examples *.py
recursive-include tests *.css
recursive-include tests *.py
